.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  background-color: white;
  width: 72;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);

}

.sidebar-link img {
  height: 38px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: arial, Roboto;
  font-size: 11px;
}