* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5bb9b8;
}

section {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

table {
  background-color: #2c3845;
  color: white;
  border-collapse: separate;
  border-spacing: 3px;
}

thead th, 
tbody td {
  border: 1px solid #28333f;
  padding: 1rem;
  text-align: left;
  padding-right: 25px;
}

thead th {
  background-color: #202932;
}

tbody tr:nth-of-type(even) {
  background-color: #342e39;
}

tbody td:last-child {
  text-align: center;
  color: #b8c4d2;
}

button {
  background-color: #4b908f;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
}

td:not(td:last-child) {
  width: 322.5rem;
}